APP_NAME = 
APP_VERSION = 
HUGGINGFACE_API_KEY = 

FILE_ALLOWED_TYPES = 
FILE_MAX_SIZE = 
FILE_DEFAULT_CHUNK_SIZE  = 

MONGODB_URL =
MONGODB_DATABASE =

POSTGRES_USERNAME =
POSTGRES_PASSWORD = 
POSTGRES_HOST = 
POSTGRES_PORT = 
POSTGRES_DB = 
# ==========================LLM Config========================
GENERATION_BACKEND = 
EMBEDDING_BACKEND = 

OPENAI_API_KEY = 
OPENAI_API_URL = 
COHERE_API_KEY = 

GENERATION_MODEL_ID = 
EMBEDDING_MODEL_ID =
EMBEDDING_MODEL_SIZE =

INPUT_DEFAULT_MAX_CHARACTERS = 
GENERATION_DEFAULT_MAX_TOKENS = 
GENERATION_DEFAULT_TEMPERATURE = 
# ==========================VectorDB Config========================
VECTOR_DB_BACKEND = 
VECTOR_DB_PATH = 
VECTOR_DB_DISTANCE_METHOD = 
#===========================Template Config========================
DEFAULT_LANG = 
PRIMARY_LANG = 